html{
    background: darkblue;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }

  .navbar a {
    float: center;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
